<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.SysMenuDao">


    <select id="findPermissions"
            resultType="string">
        select permission <!-- sys:user:update -->
        from sys_menus
        where id in
        <foreach collection="menuIds"
                 open="("
                 close=")"
                 separator=","
                 item="item">
            #{item}
        </foreach>
    </select>



    <!--菜单修改-->
    <update id="updateObject" parameterType="com.example.demo.entity.SysMenu">
        update sys_menus set
           name=#{name},
           type=#{type},
           sort=#{sort},
           url=#{url},
           parentId=#{parentId},
           permission=#{permission},
           modifiedUser=#{modifiedUser},
           modifiedTime=now()
        where id=#{id}

    </update>

    <!--菜单数据添加-->
    <insert id="insertObject"
             parameterType="com.example.demo.entity.SysMenu">
        insert into sys_menus
        (name,url,type,sort,note,parentId,permission,
        createdTime,modifiedTime,createdUser,modifiedUser)
        values
        (#{name},#{url},#{type},#{sort},#{note},#{parentId},
        #{permission},now(),now(),#{createdUser},#{modifiedUser})
    </insert>

    <!--删除自身信息-->
    <delete id="deleteObject" parameterType="int">
        delete from sys_menus
        where id=#{id}
    </delete>

    <!--根据父类id查询是否有子类-->
    <select id="getChildCount"
            resultType="int"
            parameterType="int">
    select count(*) from sys_menus
    where parentId=#{id}
    </select>
    
    <!--删除角色菜单关系数据-->
    <delete id="deleteObjectsByMenuId" parameterType="int">
        delete from sys_role_menus
        where menu_id=#{menuId}
    </delete>

    <!--查询,子查询,子类菜单和父类菜单-->
    <select id="findObjects" resultType="map">
        select c.*,
        (select p.name from sys_menus p
        where c.parentId=p.id)
        parentName
        from sys_menus c
    </select>

</mapper>